In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_1340\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [14]:
# 리터널 : 자연어 : 문자 , 숫자
# 숫자 리터널 : 정수리터널 : 10,1
#              실수리터널 : 10.6, 0.5
#              연산자 : +,-,*,/,%,//,**
# 문자열 리터널 : 'abc',"abc", '''abc''', """abc""", "10", a:변수
이숭무 = 10 # 변수인 이숭무
a = '이숭무' # 문자열 리터널인 이숭무
#              연산자 :  +:연결연산자, *:반복연산자
# 문자열 indexing, slicing
# 문자열 함수
a = 'Life is too short'
#    01234567890123456
#              1
a.count('s')# 문자열안에 's'가 몇개있는지 확인 
#문자 's'가 있는 index(위치)가 어디인지 확인
a.find('s')
#문자 'too'가 있는 index(위치)가 어디인지 확인
a.find('too') #'t'의 위치
#index 7번 이후부터의 's'의 위치
a.find('s',7)
#문자 'k'가 있는 index(위치)가 어디인지 확인
a.find('k') # 없는 문자인 경우 -1이 출력
# find와 같은 함수
a.index('s')
a.index('too')
a.index('s',7)
#a.index('k') # index 는 없는 문자인 경우 오류 발생
#영문자를 모두 소문자로
a.lower()
#영문자를 모두 대문자로
a.upper()

'LIFE IS TOO SHORT'

In [29]:
a = ' Life is too short '
# 양쪽 공백을 제거 할때 사용
a.strip()
a = 'abLife is too shortab'
a.strip('ab')
a.rstrip('ab')
a.lstrip('ab')
a = a.strip('ab')
a.replace("Life", "Your leg ")
a
a = "010-1234-1234"
#문자열이 모두 숫자인지 #####
a.isdigit()
a = "01012341234"
a.isdigit()
a = "abc def"
a.isalpha()
a = "ab cdef"
a.isalpha()
a.islower()
a.isupper()

True

In [39]:
# 문자열 다루기 : 1.포맷문자 , 2. fotmat함수 , 3. f문자
number = 10
day = "three"
'''나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'''
a = '나는 %d개의 사과를 먹어서 %s일 동안 아팠습니다.' % (number,day )
a = '나는 %s개의 사과를 먹어서 %s일 동안 아팠습니다.' % (number,day )
a = '나는 {0}개의 사과를 먹어서 {1}일 동안 아팠습니다.'.format(number,day)
a = '나는 {0}개의 사과를 먹어서 {d}일 동안 아팠습니다.'.format(number,d='four')
a = f'나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다.'
a

'나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'

In [53]:
# 자료형 : 리터널 자료형 : 정수(10), 실수(10.6), 문자('a',"a") 
#          리스트 자료형 : [10] : 변수의 단점을 보안하기 위해서 
#                         여러개의 값을 저장한다.
# a : 변수 : 단점 => 하나의 값만 저장을 한다.
a = [] # 빈리스트
b = [1, 2, 3]  # 정수를 포함한 리스트
c = ['Life', 'is', 'too', 'short']  # 문자열을 포함한 리스트
d = [1, 2, 3, 'Life', 'is', 'too', 'short'] # 혼합 리스트
e = [1, 2, 3, 'Life', 'is', 'too', 'short', [1, 2, 3] ]  # 리스트를 포함한 혼합리스트
# 연산자
str1 = "Life is"
str2 = 'too short'
str1 + str2
str1 + ' ' + str2
"=="* 30

a = [1,2,3]
b = ['aaaa','bbbb','ccccc']
a + b
a * 3

# indexing , slicing
a = [1,2,3,4,5]
#    0 1 2 3 4
a[2]
a[2] = 10 # 리스트 안에 있는 요소의 값을 변경하는 경우에는 indexing을 이용한다.
a
a[2]
a[1:3]
c = ['Life', 'is', 'too', 'short'] 
## 'Life'를 "Your leg"로 변경
c[0] = 'Your leg'
c

['Your leg', 'is', 'too', 'short']

In [64]:
# 리스트 함수
### 리스트에 요소 추가 
l = ['Life', 'is'] #문자열을 가진 리스트
l
# 리스트 마지막에 요소 추가하기 ['Life', 'is', 'too']
l.append('too')
l
l.append('short')
l
# 원하는 위치에 요소 삽입하기
l = ['Life', 'short']  # ['Life', 'is', 'short']
#      0       1       :    0      1       2
l.insert(1, 'is') 
# ['Life', 'is', 'short']  # ['Life', 'is', 'too' , 'short']
#    0       1      2            0      1     2        3
l.insert(2,'too')
l
a =  [1,2,3] 
print(l)
print(a)
# ['Life', 'is', 'too', 'short', 1, 2, 3]
print(l + a) # 리스트 연결하기 : 원 데이터는 변경되지 않는다.
print(l)
# 리스트 확장
l.extend(a) 
l
l = ['Life', 'is', 'too', 'short']
print(l)
print(a) # [1, 2, 3]
# ['Life', 'is', 'too', 'short', 1, 2, 3]
#   0       1     2       3     4  5  6 
l.append(a) # ['Life', 'is', 'too', 'short', [1, 2, 3] ]
l           #    0      1      2      3         4

['Life', 'is', 'too', 'short']
[1, 2, 3]
['Life', 'is', 'too', 'short', 1, 2, 3]
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3]

['Life', 'is', 'too', 'short', [1, 2, 3]]

In [85]:
l = ['Life', 'is', 'too', 'short', 1, 2, 3]
#      0      1      2       3     4  5  6
# index를 이용해서 요소 삭제
l[4]
del l[4]
l # ['Life', 'is', 'too', 'short', 2, 3]
#      0       1     2       3     4  5
# slicing을 이용해서 요소 삭제
del l[4:4+2]
l  # ['Life', 'is', 'too', 'short']
#       0      1      2       3
del l[2:]
l
l = ['Life', 'is', 'too', 'short', 1, 2, 3,[1],'1']
# 요소의 값을 이용해서 요소 삭제
l.remove(1)
l
l.remove([1])
l
l.remove('1')
l
l.remove('is')
l
#리스트에서 값을 가지고 나오기  ['Life', 'too', 'short', 2, 3]
result = l.pop() 
result
l #  ['Life', 'too', 'short', 2] # 비 복원 추출
result = l.pop() 
result
l
# pop에 index를 사용해서 요소의 값을 추출
l = ['Life', 'is', 'too', 'short', 1, 2, 3,[1],'1']
#      0      1       2      3      4  5 6  7   8
l
print(len(l))
result = l.pop(2)
result
l # ['Life', 'is', 'short', 1, 2, 3, [1], '1']
#      0      1      2      3  4  5   6    7
print(len(l))
result = l.pop(2)
result
l
print(len(l))

9
8
7

In [90]:
# 정렬
a = [1, 4, 2, 3]
a
# 오름차순으로 정렬
a.sort()
a
# 내림차순으로 정렬
a.sort(reverse=True)
a # [4, 3, 2, 1]
a = [1, 4, 2, 3]
a
a.reverse()
a

[3, 2, 4, 1]

In [103]:
str3 = 'hobby'
str3.count('b')
print(str3.index('b'))
print(str3.index('b',3))
print(str3.find('b'))
# 같은 값의 갯수
a = [1, 4, 2, 5, 4, 3]
a.count(4)
print(a.index(4))
print(a.index(4, 2))
# print(a.find(4)) #리스트에는  find함수가 없다.

2
3
2
1
4

In [111]:
# 파이썬 자료형
# 정수형 자료형 : 10, 1
# 실수형 자료형 : 10.3
# 문자열형 자료형 : "1",'a',"""가""", '''abcd''' , a :변수
# 리스트 자료형 : []=>빈리스트, [1]=>정수 리스트, ['z']=>문자 리스트
# 튜플 자료형 : (), (1,), (1,2), (1,'z')
print(1) # 정수형 자료형
print('1') #문자열형 자료형
print([1]) # 리스트 자료형
a = [1+3, 4]
a
print([1+3])
print(a[0])
print((1+3)) # 최우선 연산자
print((1+3) * 4)
print((1+3,)) # 요소가 한개인 경우
print((2,3))

1
1
[1]
[4]
4
4
16
(4,)
(2, 3)

In [113]:
l = [] # 빈 리스트
t = () # 빈 튜플
t1 = (1,)
t2 = (1,2,3)
t3 =  (1,2,3,'a', 'b')  # 혼합형 튜플
l1 = [1,2,3,[4,5,6]] # 리스트를 포함하고 있는 리스트
t4 = (1,2,3,(4,5,6)) # 튜플을 포함하고 있는 튜플
t5 = (1,2,3,(4,5,6),[1,2,3], "이숭무")

In [119]:
# indexing, slicing을 할 수 있다.
t2 = (1,2,3,2)
#     0 1 2 3
print(t2[2])
print(t2[1:1+2])
print(t2[1]) # indexing을 하면 요소의 값을 가지고 온다
print(t2[1:1+1]) # slicing을 하면 튜플로 가지고 온다.
print(t2.index(2))
print(t2.index(2,2))

3
(2, 3)
2
(2,)
1
3

In [133]:
# 리스트와 튜플의 차이점
#     0 1 2 3
l =  [1,2,3,2]
t2 = (1,2,3,2)
l[2] = 10
l
# t2[2] = 10 요소를 변경 할 수 없다.
del l[2]
l
# del t2[2]
# 요소가 변경이 되어도 되는 경우에는 리스트를 사용하지만 
# 요소가 변경되어서는 안되는 경우에는 튜플을 사용한다.
str1 = "hello"
#문자열을 리스트로
l = list(str1)
l
# 리스트를 문자열로
str2 = "".join(l)
str2
str3 = "abd".join(l)
str3
# 문자열을 튜플로
t = tuple(str1)
t
str4 = "".join(t)
str4
l2 = list(t)
l2

['h', 'e', 'l', 'l', 'o']

In [140]:
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#     0  1  2   3   4       5        6
#                         0 1 2    0 1 2
print(t7[1])
print(t7[3])
print(t7[5]) # 리스트
print(t7[6]) # 튜플
print(t7[5][1]) # 리스트에 있는 2출력
print(t7[5]) # [1, 2, 3]
print([1, 2, 3][1])
print("hello"[2])
print(t7[3:3+3])
print(t7[4:])

2
a
[1, 2, 3]
(1, 2, 3)
2
[1, 2, 3]
2
l
('a', 'b', [1, 2, 3])
('b', [1, 2, 3], (1, 2, 3))

In [146]:
t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3), 3
t8
print(t8.index(3))
print(t8.count(3))

l = ['Life', 'is', 'too', 'short' ]
print("".join(l))
print(" ".join(l))
t = ('Life', 'is', 'too', 'short' )
print(" ".join(t))

2
2
Lifeistooshort
Life is too short
Life is too short

In [164]:
# 파이썬 자료형
# 정수 자료형 
# 실수 자료형 
# 문자열 자료형 
# 리스트 자료형 : [] , [1]
# 튜플 자료형  : () , (1,)
# 딕셔너리(사전) 자료형 : {} :키와 값으로 이루어져 있는 자료형을 말한다. 
# d1 = {key1:vlaue1, key2:value2,..., key_n:value_n}
# java : map<key, value> , 자바스크립: json
dic = {'name':'pey', 'phone':'010-1234-1234','birth':'1118'}
print(dic['name'])
print(dic['phone'])
# 문자열 , 리스트, 튜플의 공통점은 index를 사용할 수 있다.
# 딕셔너리는 index를 사용하지 않도록 하고 있다.
# 딕셔너리는 key만 사용하게 정의해 놓았다.
d2 = {2:'이숭무', 0:'이상범', 1:'이장범'}
#         0         1          2 (x)
print(d2[1]) # 값을 key를 이용해서 가지고 온다.
print(d2[0])
print(d2[2])
l = [1,2,3,4,5]
#    0 1 2 3 4
l[1]
l[1] = 10 # index를 이용해서 값을 변경
d2[1] = '김찬중' # key를 이용해서 값을 변경
print(l)
print(d2)
l[4] = 20 # index가 있는 경우 값을 변경할 수 있다.
l
# l[5] = 30 # list assignment index out of range, index가 없으면 오류발생
d2[0] = '박준현' # 
d2[3] = '신재원' # 키가 없는 경우에는 딕셔너리에 추가된다.
d2
# 딕셔너리는 키가 있는 경우에는 수정이 되지만 키가 없으면 추가가 된다.
#              중복키가 존재할 수 없다                             
a = {1:'a'}
a
a[1] = 'b'
a
a = {1:'a', 1:'b'}
a
print(d2.keys())
a[3] = [1,3,4]
a

pey
010-1234-1234
이장범
이상범
이숭무
[1, 10, 3, 4, 5]
{2: '이숭무', 0: '이상범', 1: '김찬중'}
dict_keys([2, 0, 1, 3])

{1: 'b', 3: [1, 3, 4]}

In [169]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
#  요소 삭제
l=[1,2,3,4]
del l[2]
l
del dic['phone']
dic
dic[3] = '이상범'
dic
del dic[3]
dic

{'name': 'pey', 'birth': '1118'}

In [174]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['birth']
dic['birth'] = '19991118'
dic           # 01234567
              # 87654321 - 
## 년, 월 , 일을 따로 출력하세요.
dic['birth'] # '19991118'
print(dic['birth'][0:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])
#  월일만 같이 출력
print(dic['birth'][4:])
print(dic['birth'][-4:])
print('19991118'[-4:])

1999
11
18
1118
1118

In [181]:
#### 딕셔너리 관련 함수
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
# 딕셔너리에 있는 키와 값을 튜플로 묶어서 리스트로 가져오기
print(dic.items())
# 딕셔너리 비우기
dic.clear()
dic
l = [1,2,3,4,5]
l
# 리스트 지우기
l.clear()
l

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '1118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

[]

In [190]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic
print(dic['name'])
print(dic.get('name'))
dic['addr'] = '성남'
dic
#print(dic['money']) # 키가 없는 경우에는 오류가 발생
print(dic.get('money')) # None:키가 존재하지 않는다.
print(dic.get('money', 0))  #키가 없는 경우 특정한 값을 가질 수 있게 할 수 있다.

pey
pey
None
0

In [197]:
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600, 'money': 100 }
print(dic1['classic'])
print(dic2['classic'])
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
#print(dic1['money'] + dic2['money'])
print(dic1.get('classic', 0) + dic2.get('classic',0))
print(dic1.get('pop', 0) + dic2.get('pop',0))
print(dic1.get('money', 0) + dic2.get('money',0))

500
500
1000
1200
1000
1200
100

In [198]:
# indexing과 slicing은 문자열, 리스트, 튜플만 가능
# 딕셔너리는  indexing, slicing을 하지 못하지만 
# 딕셔너리의 결과가 문자열, 리스트, 튜플인 경우 indexing, slicing이 가능하다.
dic['birth'] # '1118'

'1118'

In [204]:
# 정수, 실수, 문자, 리스트, 튜플, 
# 딕셔너리 : {} , {key:value}
# 집합 : 교집합, 합집합, 차집합 {1,2,3,4}
s = {1,2,3,4,5,6}
s
t = tuple([1,2,3,4,5])
t
s = set([1,2,3,4,5])
s
l = list((1,2,3,4,5))
l
s = set((1,2,3,4,5))
s
s = set("hello") # 중복데이터를 허용하지 않는다.
s

{'e', 'h', 'l', 'o'}

In [216]:
#### 교집합, 합집합, 차집합
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
#     0 1 2 3 4 5
print(s1)
print(s2)
# print(s1[0])
### 교집합
print(s1 & s2)
print(s1.intersection(s2))
### 합집합
print(s1 | s2)
print(s1.union(s2))
### 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [234]:
s1 = {1, 2, 3, 4, 5, 6, 7}
### 요소 추가
print(s1)
s1.add(7)
print(s1)
s1.add(8) # add는 요소 하나만 추가 가능
print(s1)
# 9,10,11을 추가
s1.add((9,10,11)) 
s1 # {(9,10,11),1, 2, 3, 4, 5, 6, 7, 8}(X)
s1.remove((9,10,11))
s1
# {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
s1.update([9,10,11])
s1
s1.update((12,13,14))
s1
s1.update({15,16,17})
s1
s1.remove(5)
s1
# s1.remove({6,7})

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

KeyError: {6, 7}

In [246]:
# 정수 1 , 실수 10.5, 문자 'a', 리스트 [], 튜플(), 딕셔너리 {}, 집합 set, 
# 부울 : 참 / 거짓 : True / False : 논리
a = True # 첫글자가 대문자이어야 한다.
a
a = False
a
# 관계(비교)연산의 결과인 경우 부울 타입이 된다.
x = 10 ; y = 20
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)
print(x != y) # x 와 y가 서로 다르다
print(x == y) # x 와 y가 서로 같다.
print(10 + 20)

SyntaxError: invalid syntax (1473877880.py, line 15)

In [251]:
# 논리연산
### and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(False & False)
## or
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(False | False)
## xor
print(True ^ True)

True
False
False
False
False
True
True
True
False
False
False

In [245]:
x = 10; y = 20 ; z = 15
print( x > y and z < y )
print( x > y or z < y )

False

In [255]:
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다.
### % 나머지연산자 
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
result
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년입니다")
else:
    print("평년입니다.")

평년입니다.

In [268]:
# bool함수를 사용해서 자료형이 가지고 있는 부울 타입(True/False)을 확인하자.
print(bool('이숭무'))
print(bool(''))  # blank "" false
print(bool([1,2,3,4]))
print(bool([])) # false
print(bool((1,2,3,4)))
print(bool(()))  #false
print(bool(-1)) 
print(bool(1))
print(bool(0)) # false
print(bool(None)) # false

if '이숭무': # 관계연산자, 자료형을 직접 대입
    print('문자열')

True
False
True
False
True
False
True
True
False
False

In [277]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
a = b = c = 0
print(a,b,c)
a , b ,c  =  'python',  'life' , '이숭무'
print(a, b, c)
a , b ,c  =  ('python',  'life' , '이숭무')
print(a, b, c)
(a , b ,c)  =  'python',  'life' , '이숭무'
print(a, b, c)
(a , b ,c)  =  ('python',  'life' , '이숭무')
print(a, b, c)
a , b ,c  =  ['python',  'life' , '이숭무']
print(a, b, c)
[a , b ,c]  =  'python',  'life' , '이숭무'
print(a, b, c)
[a , b ,c]  =  ['python',  'life' , '이숭무']
print(a, b, c)

0 0 0
python life 이숭무
python life 이숭무
python life 이숭무
python life 이숭무
python life 이숭무
python life 이숭무
python life 이숭무

In [281]:
# 변수에 있는 값을 서로 교환하기
a = 10
b = 20
print(a, b)
print("======" * 15)
temp = a  # 다른 언어 방식
a = b
b = temp
print(a,b)
print("======" * 15)
a , b = b , a # 파이썬 방식
print(a, b)

10 20
==========================================================================================
20 10
==========================================================================================
10 20

In [287]:
#### 3장 제어문
### bool타입을 이용해서 원하는 결과를 얻어 오는 것을 말한다.

### 조건문(식)(관계연산자) : 여러가지 선택중에서 하나를 선택할 수 있게 하는 것
### 조건문을 사용할 경우에는 조건문 뒤에는 : 이 있어야하고
### 명령문은 들여쓰기를 하여야 한다. 들어쓰기가 되지 않은 경우 오류 발생
### 들여쓰기는 공백문자 또는 탭을 사용할 수가 있지만 두개를 같이 사용하지 못한다.
### 들여쓰기할 때는 주로 탭을 많이 사용한다.

### 형식(문법)
'''
if 조건문: # True
    명령문1
    명령문2
    ...
    명령문n
명령문n1
'''
# 조건식 다음의 명령문은 조건식의 결과가 True이어야 실행이 되고  
# False이면 실행이 안된다.
if '이숭무':
    print("이숭무는 참이기 때문에 실행")

if '':
    print('거짓이므로 실행되지 않았음')
print('실행 끝')

이숭무는 참이기 때문에 실행
실행 끝

In [290]:
# 단일 if문
money = 3100
# 3000원 이상이면 "차를 타고 가시오"를 출력
if money >= 3000: 
    print('차를 타고 가시오')
print("===" * 20)
money = 2500
if money >= 3000: 
    print('차를 타고 가시오')

차를 타고 가시오
============================================================

In [300]:
# 결과가 false이어도 실행이 되도록 하자.
# if ~ else: 두개 중에 하나를 선택하고자 할 때 사용
'''
if 조건문: # True
    명령문1
    명령문2
    ...
    명령문n
else: # 조건문의 결과가 false
    명령문1-1
    명령문1-2
    ...
    명령문1-n
'''
money = 3100
# 돈이 3000원이상이면 "차를 타고 가시오"를 출력하고 아니면 "걸어가시오"를 출력
print(money >= 3000)
if money >= 3000:
    print("차를 타고 가시오")
else:
    print("걸어가시오")
print("==" * 30)
money = 2500
if money >= 3000:
    print("차를 타고 가시오")
else: #false
    print("걸어가시오")
print("==" * 30)
money = 2500
if not money >= 3000: # not False = True 
    print("걸어가시오") 
else: #false
    print("차를 타고 가시오")
print("==" * 30)
x = 10 ; y = 20 
if x  >  y:
    print("x가 y보다 크다")
else:
    print("x가 y보다 작다")
print("==" * 30)
x = 10 ; y = 20 
if x  ==  y:
    print("x가 y보다 같다")
else:
    print("x가 y보다 다르다")    
print("==" * 30)
x = 10 ; y = 20 
if x  !=  y:
    print("x가 y보다 다르다")    
else:
    print("x가 y보다 같다")

True
차를 타고 가시오
============================================================
걸어가시오
============================================================
걸어가시오
============================================================
x가 y보다 작다
============================================================
x가 y보다 다르다
============================================================
x가 y보다 다르다

In [310]:
# IN연산자 사용하기 : 포함하고 있는지 확인.
l = [1,2,3,4,5,6] 
print( 4 in l)
print( 4 in [1,2,3,4,5,6] )
print( 7 in l)
print( 8 not in l)

print( 'j' in 'python')      # False
print( 'j' not in 'python') # True
print( 'a' in {'a':1, 'b':2}) # True
print( 4 in (1,2,3,4,5,6)) # True
print( 4 in {1,2,3,4,5,6}) # True
print( 7 in {1,2,3,4,5,6}) # False
print( 7 not in {1,2,3,4,5,6}) # True

True
True
False
True
False
True
True
True
True
False
True

In [313]:
if 'j' in 'python':
    print('문자열에 j가 있다.')
else:
    print('문자열에 j가 없다.')
    
l = [1,2,3,4,5,6] 
if 4 in l :
    print(' 리스트에는 4가 있습니다.')
else:
    print(' 리스트에는 4가 없습니다.')
    
if 7 in l :
    print(' 리스트에는 7이 있습니다.')
else:
    print(' 리스트에는 7이 없습니다.')
    
if 7 not in l :
    print(' 리스트에는 7이 없습니다.') 
else:
    print(' 리스트에는 7이 있습니다.')

문자열에 j가 없다.
 리스트에는 4가 있습니다.
 리스트에는 7이 없습니다.
 리스트에는 7이 없습니다.

In [316]:
pocket = ['paper', 'cellphone', 'money'] 
print( 'money' in pocket)
if 'money' in pocket:
    print('주머니에 돈이 있습니다.')
else:
    print('주머니에 돈이 없습니다.')
    
if 'money' not in pocket:  # True => False
    print('주머니에 돈이 없습니다.')
else:
    print('주머니에 돈이 있습니다.')

True
주머니에 돈이 있습니다.
주머니에 돈이 있습니다.

In [317]:
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40
print(result)
if (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40:
    print('합격')
else:
    print('불합격')

False

In [318]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 
# 그렇지 않으면 F
# 조건이 여러개인 경우
# 조건식은 if문에 적을 수 있습니다.
'''
if 조건문: # True
    명령문1
    명령문2
    ...
    명령문n
elif 조건문: 
    명령문1-1
    명령문1-2
    ...
    명령문1-n
elif 조건문: 
    명령문2-1
    명령문2-2
    ...
    명령문2-n
elif 조건문: 
    명령문3-1
    명령문3-2
    ...
    명령문3-n
...
else: 
    명령문4-1
    명령문4-2
    ...
    명령문4-n
'''
score =76
if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score>= 70:
    print('C')
elif score>=60:
    print('D')
else:
    print('F')
# switch~case는 딕셔너리로 사용할 수 있다.

C

In [ ]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
score =76
if score >= 90:
    if score >= 95:
        print('A+')
    else:
        print('A')
elif score >=80:
    if score >= 85:
        print('B+')
    else:
        print('B')
elif score>= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score>=60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else:
    print('F')

In [319]:
'''
score가 60이면 message 변수에 success를 아니면 message 에 failure를 저장한 후 출력
'''
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)
# 파이썬 형식으로 변경
message = 'success' if score >= 60 else 'failure'
print(message)

success